# SFC PAYGo Solar Credit Repayment Competition

<br>

In [1]:
import pandas as pd
import missingno as msno
import seaborn as sns
import numpy as np
import ast
from fancyimpute import IterativeImputer
from dateutil.relativedelta import *

In [2]:
train = pd.read_csv("Train.csv")

In [3]:
train.head()

,ID,TransactionDates,PaymentsHistory,m1,m2,m3,m4,m5,m6
0,ID_MR53LEX,"['04-2018', '05-2018', '06-2018', '07-2018', '...","[3600.0, 750.0, 350.0, 65.0, 95.0, 135.0, 85.0...",880.0,930.0,495.0,715.0,220.0,385.0
1,ID_3D7NQUH,"['04-2018', '05-2018', '06-2018', '07-2018', '...","[2940.0, 970.0, 380.0, 880.0, 385.0, 440.0, 11...",660.0,935.0,935.0,825.0,770.0,935.0
2,ID_0IWQNPI,"['02-2020', '03-2020', '04-2020', '05-2020', '...","[2850.0, 1500.0, 1350.0, 610.0, 200.0, 250.0]",700.0,1350.0,1550.0,1400.0,1450.0,1200.0
3,ID_IY8SYB9,"['09-2017', '10-2017', '11-2017', '12-2017', '...","[2200.0, 1420.0, 1180.0, 900.0, 1400.0, 780.0,...",580.0,480.0,800.0,1260.0,1650.0,530.0
4,ID_9XHL7VZ,"['09-2017', '10-2017', '11-2017', '12-2017', '...","[2640.0, 910.0, 480.0, 280.0, 200.0, 180.0, 33...",40.0,440.0,460.0,360.0,80.0,330.0

In [4]:
train.dtypes

ID                   object
TransactionDates     object
PaymentsHistory      object
m1                  float64
m2                  float64
m3                  float64
m4                  float64
m5                  float64
m6                  float64
dtype: object

In [5]:
train.shape

(28007, 9)

In [6]:
train.describe()

,m1,m2,m3,m4,m5,m6
count,28007.000000,28007.000000,28007.000000,28007.000000,28007.000000,28007.000000
mean,815.411683,807.101617,797.641161,815.011033,827.719463,692.115150
std,686.130805,839.772177,696.809281,715.582046,796.379837,1416.301221
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,275.000000,250.000000,220.000000,230.000000,220.000000,130.000000
50%,820.000000,800.000000,790.000000,815.000000,840.000000,480.000000
75%,1200.000000,1200.000000,1200.000000,1200.000000,1205.000000,915.000000
max,33890.000000,94044.000000,32005.000000,33403.000000,64106.000000,96814.000000

In [7]:
train['FirstTransactionDate'] = np.nan

In [8]:
train['LastTransactionDate'] = np.nan

In [9]:
train["TotalPastPayments"] = np.nan

In [10]:
sum_payments = 0.0

for i,data in train.iterrows():
    transaction_dates = []
    payments = []
    dates = data.iloc[1][1:-1].split(", ")
    paymentshistory = data.iloc[2][1:-1].split(", ")
    for date in dates:
        transaction_dates.append(pd.to_datetime(date[1:-1]).date())
    train.TransactionDates.iloc[i] = np.array(transaction_dates)
    train.LastTransactionDate.iloc[i] = transaction_dates[-1]
    train.FirstTransactionDate.iloc[i] = transaction_dates[0]
    
    for payment in paymentshistory:
        payments.append(float(payment))
    train.PaymentsHistory.iloc[i] = np.array(payments)
    
    train.TotalPastPayments.iloc[i] = sum(payments)
train.head()

/Users/matthewohanian/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,ID,TransactionDates,PaymentsHistory,m1,m2,m3,m4,m5,m6,FirstTransactionDate,LastTransactionDate,TotalPastPayments
0,ID_MR53LEX,"[2018-04-01, 2018-05-01, 2018-06-01, 2018-07-0...","[3600.0, 750.0, 350.0, 65.0, 95.0, 135.0, 85.0...",880.0,930.0,495.0,715.0,220.0,385.0,2018-04-01,2020-11-01,16035.0
1,ID_3D7NQUH,"[2018-04-01, 2018-05-01, 2018-06-01, 2018-07-0...","[2940.0, 970.0, 380.0, 880.0, 385.0, 440.0, 11...",660.0,935.0,935.0,825.0,770.0,935.0,2018-04-01,2020-11-01,22136.0
2,ID_0IWQNPI,"[2020-02-01, 2020-03-01, 2020-04-01, 2020-05-0...","[2850.0, 1500.0, 1350.0, 610.0, 200.0, 250.0]",700.0,1350.0,1550.0,1400.0,1450.0,1200.0,2020-02-01,2020-07-01,6760.0
3,ID_IY8SYB9,"[2017-09-01, 2017-10-01, 2017-11-01, 2017-12-0...","[2200.0, 1420.0, 1180.0, 900.0, 1400.0, 780.0,...",580.0,480.0,800.0,1260.0,1650.0,530.0,2017-09-01,2018-06-01,11260.0
4,ID_9XHL7VZ,"[2017-09-01, 2017-10-01, 2017-11-01, 2017-12-0...","[2640.0, 910.0, 480.0, 280.0, 200.0, 180.0, 33...",40.0,440.0,460.0,360.0,80.0,330.0,2017-09-01,2019-11-01,7779.0

In [11]:
date_list = []
for i,data in train.iterrows():
    dates = data[1]
    for date in dates:
        if not date in date_list:
            date_list.append(date)
date_list.sort()

In [12]:
for col in date_list:
    train[col] = np.nan
train.head()

,ID,TransactionDates,PaymentsHistory,m1,m2,m3,m4,m5,m6,FirstTransactionDate,...,2020-02-01,2020-03-01,2020-04-01,2020-05-01,2020-06-01,2020-07-01,2020-08-01,2020-09-01,2020-10-01,2020-11-01
0,ID_MR53LEX,"[2018-04-01, 2018-05-01, 2018-06-01, 2018-07-0...","[3600.0, 750.0, 350.0, 65.0, 95.0, 135.0, 85.0...",880.0,930.0,495.0,715.0,220.0,385.0,2018-04-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ID_3D7NQUH,"[2018-04-01, 2018-05-01, 2018-06-01, 2018-07-0...","[2940.0, 970.0, 380.0, 880.0, 385.0, 440.0, 11...",660.0,935.0,935.0,825.0,770.0,935.0,2018-04-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ID_0IWQNPI,"[2020-02-01, 2020-03-01, 2020-04-01, 2020-05-0...","[2850.0, 1500.0, 1350.0, 610.0, 200.0, 250.0]",700.0,1350.0,1550.0,1400.0,1450.0,1200.0,2020-02-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ID_IY8SYB9,"[2017-09-01, 2017-10-01, 2017-11-01, 2017-12-0...","[2200.0, 1420.0, 1180.0, 900.0, 1400.0, 780.0,...",580.0,480.0,800.0,1260.0,1650.0,530.0,2017-09-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ID_9XHL7VZ,"[2017-09-01, 2017-10-01, 2017-11-01, 2017-12-0...","[2640.0, 910.0, 480.0, 280.0, 200.0, 180.0, 33...",40.0,440.0,460.0,360.0,80.0,330.0,2017-09-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
for i, data in train.iterrows():
    for j in range(len(data[2])):
        train[data[1][j]][i] = data[2][j]

/var/folders/bf/1rqft59539x2lszpd3glzgq40000gn/T/ipykernel_5450/3220214417.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[data[1][j]][i] = data[2][j]

In [ ]:
for i, data in train.iterrows():
    first = data[9]
    last = data[10]
    while first != last:
        first += relativedelta(months=+1)
        if train.loc[i,first]== float("nan"):
            train.loc[i,first] = 0.0

In [ ]:
train.drop(columns=["TransactionDates", "PaymentsHistory"], inplace = True)
train.head()

In [ ]:
train.columns = train.columns.astype(str)

In [ ]:
train.fillna(0, inplace=True)

In [ ]:
train.head()

In [ ]:
sns.relplot(x="2018-04-01",y="m1",data=train,kind="scatter")

In [ ]:
train.describe()

In [ ]:
def print_boxplot(attr):
    sns.boxplot(x=train[attr])

In [ ]:
print_boxplot("m1")

In [ ]:
train = train.loc[train.m1<=10000,:]

In [ ]:
print_boxplot("m2")

In [ ]:
train = train.loc[train.m2<=6000,:]

In [ ]:
print_boxplot("m3")

In [ ]:
train = train.loc[train.m3<=15000,:]

In [ ]:
print_boxplot("m4")

In [ ]:
train = train.loc[train.m4<=10000,:]

In [ ]:
print_boxplot("m5")

In [ ]:
train = train.loc[train.m5<=10000,:]

In [ ]:
print_boxplot("m6")

In [ ]:
train = train.loc[train.m6<=40000,:]

In [ ]:
test = pd.read_csv("Test.csv")

In [ ]:
test.head()

In [ ]:
test.dtypes

In [ ]:
test.shape

In [ ]:
test.nunique()

In [ ]:
test.isnull().sum()

In [ ]:
test['FirstTransactionDate'] = np.nan

In [ ]:
test['LastTransactionDate'] = np.nan

In [ ]:
test["TotalPastPayments"] = np.nan

In [ ]:
sum_payments = 0.0

for i,data in test.iterrows():
    transaction_dates = []
    payments = []
    dates = data.iloc[1][1:-1].split(", ")
    paymentshistory = data.iloc[2][1:-1].split(", ")
    for date in dates:
        transaction_dates.append(pd.to_datetime(date[1:-1]).date())
    test.TransactionDates.iloc[i] = np.array(transaction_dates)
    test.LastTransactionDate.iloc[i] = transaction_dates[-1]
    test.FirstTransactionDate.iloc[i] = transaction_dates[0]
    
    for payment in paymentshistory:
        payments.append(float(payment))
    test.PaymentsHistory.iloc[i] = np.array(payments)
    
    test.TotalPastPayments.iloc[i] = sum(payments)

In [ ]:
date_list_test = []
for i,data in test.iterrows():
    dates = data[1]
    for date in dates:
        if not date in date_list_test:
            date_list_test.append(date)
date_list_test.sort()

In [ ]:
for col in date_list_test:
    test[col] = np.nan

In [ ]:
for i, data in test.iterrows():
    for j in range(len(data[2])):
        test[data[1][j]][i] = data[2][j]

In [ ]:
test.drop(columns=["TransactionDates", "PaymentsHistory"], inplace = True)

In [ ]:
test.columns = test.columns.astype(str)

In [ ]:
test.fillna(0, inplace=True)

In [ ]:
test.head()

In [ ]:
metadata = pd.read_csv("metadata.csv")

In [ ]:
metadata.head()

In [ ]:
metadata.dtypes

In [ ]:
metadata.shape

In [ ]:
metadata.columns

In [ ]:
metadata.duplicated()

In [ ]:
metadata.RegistrationDate = pd.to_datetime(metadata.RegistrationDate, format="%Y/%m/%d %H:%M:%S")
metadata.RegistrationDate

In [ ]:
metadata.ExpectedTermDate = pd.to_datetime(metadata.ExpectedTermDate, format="%Y/%m/%d %H:%M:%S")
metadata.FirstPaymentDate = pd.to_datetime(metadata.FirstPaymentDate, format="%Y/%m/%d %H:%M:%S")
metadata.LastPaymentDate = pd.to_datetime(metadata.LastPaymentDate, format="%Y/%m/%d %H:%M:%S")
metadata.UpsellDate = pd.to_datetime(metadata.UpsellDate, format="%Y/%m/%d %H:%M:%S")

In [ ]:
metadata.dtypes

In [ ]:
metadata.isnull().sum()

In [ ]:
metadata.isnull().sum()/metadata.shape[0]*100

In [ ]:
msno.matrix(metadata)

Dropping UpsellDate because of too many missing values

In [ ]:
metadata.drop(columns = "UpsellDate", inplace = True)

In [ ]:
metadata.Region.unique()

In [ ]:
metadata.describe()

In [ ]:
impute = metadata[['Deposit', 'AccessoryRate', 'RatePerUnit', 'DaysOnDeposit', 
                   'Term', 'TotalContractValue', 'Age']]
impute = impute.to_numpy()
impute = IterativeImputer().fit_transform(impute)
metadata.Age = impute[:,-1]
msno.matrix(metadata)

In [ ]:
sns.boxplot(x=metadata.Age)

In [ ]:
metadata.loc[metadata.Age>100]

In [ ]:
metadata = metadata.loc[metadata.Age<=100]

In [ ]:
metadata = metadata.loc[~(metadata.Region.isna())]
msno.matrix(metadata)

In [ ]:
metadata.head(10)

In [ ]:
metadata.dtypes

In [ ]:
metadata.loc[(metadata.FirstPaymentDate.dt.date-metadata.RegistrationDate.dt.date) > pd.to_timedelta(metadata.DaysOnDeposit, unit="d")]

In [ ]:
metadata.loc[metadata.LastPaymentDate.dt.date > metadata.ExpectedTermDate.dt.date ]

In [ ]:
metadata["DaysLate"] = (metadata.LastPaymentDate.dt.date - metadata.ExpectedTermDate.dt.date).astype('timedelta64[D]')
metadata.loc[metadata.DaysLate<=0,"DaysLate"]=0.0

In [ ]:
metadata["ExpectedTerm"] = (metadata.LastPaymentDate.dt.date - metadata.FirstPaymentDate.dt.date).astype('timedelta64[D]')

In [ ]:
metadata.head()

In [ ]:
metadata.nunique()

Since the supplier name is same for all the IDs. We can drop SupplierName col.
The payment method is also the same and that can be dropped as well.

In [ ]:
metadata.drop(columns=["SupplierName","PaymentMethod"],inplace=True)

Dropping categorical variables for now

In [ ]:
metadata.drop(columns=["RegistrationDate", "rateTypeEntity", "MainApplicantGender", "Region", "Town", "Occupation", "ExpectedTermDate", "FirstPaymentDate", "LastPaymentDate"],inplace=True)

In [ ]:
metadata.shape

In [ ]:
metadata.dtypes

Dropping categorical columns

In [ ]:
merged_test = pd.merge(left=metadata, right=test, on="ID")

In [ ]:
merged_test

In [ ]:
merged_test.drop(columns=['FirstTransactionDate', 'LastTransactionDate'],inplace=True)

In [ ]:
merged_test.to_pickle("merged_test-processed.pkl")

In [ ]:
merged_train = pd.merge(left=metadata, right=train, on="ID")

In [ ]:
merged_train

In [ ]:
merged_train.drop(columns=['FirstTransactionDate', 'LastTransactionDate'],inplace=True)

In [ ]:
merged_train.to_pickle("merged_train-processed.pkl")